body {
  background-color: rgb(105, 181, 231);
  background-image: linear-gradient(-10deg,
      #67d1ff 0%,
      #31adff 58%,
      #004fb7 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#box {
  background-color: rgb(255, 188, 62);
  border-radius: 20px;
  margin: auto;
  text-align: center;
  height: 350px;
  width: 350px;
}

#linksBox {
  text-align: center;
  margin: auto;
  opacity: 65%;
  border-radius: 30px;
}

#linksBox a {
  padding: 0px 5px;
}

#linksBox a img {
  border-radius: 7px;
  box-shadow: 0px 0px 2px 1px rgb(205, 255, 243);
}9
9

#linksBox:hover {
  opacity: 100%;
}

#heading {
  font-size: 30px;
  text-align: center;
  color: snow;
  text-shadow: 0px 4px 5px rgb(24, 25, 88);
  font-family: "j'aime le poisson !", "Trebuchet ms";
}

#backdrop {
  top: 1em;
  margin: auto;
  position: relative;
  background-image: url(https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71enGfet2pL._AC_SX679_.jpg);
  background-size: cover;
  border-radius: 20px;
  height: 320px;
  width: 320px;
}

.buttonBox {
  position: relative;
  margin: 1rem;
}

button {
  margin-top: 2em;
  margin-right: 0.4em;
  color: black;
  background-color: rgb(243, 240, 255);
  box-shadow: 0px 1px 2px 1px rgb(73, 75, 184);
  border-radius: 10px;
  padding: 5px 12px;
  font-size: larger;
  transition: 0.1s linear;
}

button:hover {
  background-color: rgb(248, 252, 255);
  box-shadow: 0px 2px 4px 1px rgb(73, 75, 184);
}

#hairback {
  position: absolute;
  height: 320px;
  width: 320px;
}

#whalen {
  background-image: url("media/WhalenMichael-removebg-preview.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 1;
}

#dress {
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 4;
}

.dress0 {
  background-image: url("media/Shirt 1.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 4;
}

.dress1 {
  background-image: url("media/Shirt 2.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 4;
}

.dress2 {
  background-image: url("media/Shirt 3.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 4;
}

.dress3 {
  background-image: url("media/Shirt 4.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 4;
}

.dress4 {
  background-image: url("media/Shirt 5.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 4;
}

.dress5 {
  background-image: url("media/Shirt 6.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 4;
}

.dress6 {
  background-image: url("media/Shirt 7.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 4;
}

.dress7 {
  background-image: url("media/Body.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 4;
}

#hair {
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 6;
}

.hair0 {
  background-image: url("media/hair 1.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 6;
}

.hair1 {
  background-image: url("media/hair 9.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 6;
}

.hair2 {
  background-image: url("media/hair 3.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 6;
}

.hair3 {
  background-image: url("media/hair 4.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 6;
}

.hair4 {
  background-image: url("media/hair 5.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 6;
}

.hair5 {
  background-image: url("media/hair 6.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 6;
}

.hair6 {
  background-image: url("media/hair 7.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 6;
}

.hair7 {
  background-image: url("media/hair 8.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 6;
}

.hair8 {
  background-image: url("media/hair 2.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: 6;
}